@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: azure;
    color:black;
}

#head h1{
    margin-top: 20px;
    text-align: center;
    background-color: aliceblue;
}

#head ul{
    margin-top: 40px;
    display: flex;
    list-style-type: none;
    position: absolute;
    right:5%;
}

#head ul li{
    margin-left: 20px;
    cursor:pointer;
    transition:transform .3s;
}

#head ul li:hover{
    color:gold;
    transform: scale(1.2);

}

#profile{
    margin-top: 120px;
    position: absolute;
    left : 15%;
}

#about{
    position: relative;
    left:380px;
    bottom : 300px;
}

#about h4{
    margin-top: 40px;
}

#about p{
    margin-top:5px;
}
#sections{
    margin-top:580px;
    position: absolute;
    left : 3%;
}

#edu table td{
    font-weight: 600;
}

#certificate{
    margin-top: 40px;
}

#certificate table td{
    font-weight: 600;
}

#skills{
    margin-top:40px;
}

#skills table td{
    font-weight: 600;
}

#projects{
    margin-top: 40px;
}
#projects table td{
    font-weight: 600;
}
.sk{
    position: relative;
    left:40px;    
}
#achieve{
    margin-top:40px;
}
#achieve ol{
    margin-top:30px;
}

#achieve ol li{
    margin-top: 20px;
}

#achieve{
    font-weight: 600;
}
a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:gold;
}